<style>
    .menu{
        margin-top:20%;
        cursor:pointer;
        color:white;
    }
</style>

<nav>
    <div class="nav-link px-5" style="display:inline-block">
        <NavLink class="menu nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    @if (loginfo != null)
    {
        <div class="nav-link px-5" style="display:inline-block">
            <NavLink class="menu nav-link" @onclick="@(() => {navigationManager.NavigateTo("/exerciselog", forceLoad:true);})">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> 운동일지
            </NavLink>
        </div>
        <div class="nav-link px-5" style="display:inline-block">
            <NavLink class="menu nav-link" @onclick="@(() => {navigationManager.NavigateTo("/healthchart", forceLoad:true);})">
                <span class="oi oi-plus" aria-hidden="true"></span> 건강일지
            </NavLink>
        </div>
    }else{
        <div class="nav-link px-5" style="display:inline-block">
            <NavLink class="nav-link" style="color:gray">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> 운동일지
            </NavLink>
        </div>
        <div class="nav-link px-5" style="display:inline-block">
            <NavLink class="nav-link" style="color:gray">
                <span class="oi oi-plus" aria-hidden="true"></span> 건강일지
            </NavLink>
        </div>
    }
    
    <div class="dropdown nav-link" style="display:inline-block">
        <ul class="dropdown-list">
            <NavLink class="menu nav-link" @onclick="Show">
                <span class="oi oi-clipboard" aria-hidden="true"></span> 게시판
            </NavLink>
            @if (cnt % 2 != 0)
            {
                <div class="dropdown-menu show" style="background-color:black;position: absolute; transform: translate3d(80px, 70px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <div class="dropdown-item">
                        <NavLink class="menu nav-link" @onclick="@(() => {navigationManager.NavigateTo("/board/Notice", forceLoad:true);})">
                            <span class="oi oi-task" aria-hidden="true" style="color:white;display:inline-block"></span> <p style="color:white;display:inline-block">공지사항</p>
                        </NavLink>
                    </div>
                    <div class="dropdown-item">
                        <NavLink class="menu nav-link" @onclick="@(() => {navigationManager.NavigateTo("/board/Community", forceLoad:true);})">
                            <span class="oi oi-browser" aria-hidden="true" style="color:white;display:inline-block"></span> <p style="color:white;display:inline-block">커뮤니티</p>
                        </NavLink>
                    </div>
                </div>
            }
        </ul>
    </div>
    @if(loginfo != null){
        <div class="nav-link px-5" style="display:inline-block">
            <NavLink class="menu nav-link" @onclick="@(() => {navigationManager.NavigateTo("/chart", forceLoad:true);})">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> 변화차트
            </NavLink>
        </div>
    }else{
        <div class="nav-link px-5" style="display:inline-block">
            <NavLink class="nav-link" style="color:gray">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> 변화차트
            </NavLink>
        </div>
    }
</nav>

@code {
    private int cnt = 0;
    private Member? loginfo;

    protected override async Task OnInitializedAsync()
    {
        loginfo = await sessionStorage.GetItemAsync<Member>("loginfo");
    }

    private void Show()
    {
        cnt++;
    }
}
