<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FirstBlazorWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="@(() => {navigationManager.NavigateTo("/exerciselog", forceLoad:true);})">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> 운동일지
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="@(() => {navigationManager.NavigateTo("/healthchart", forceLoad:true);})">
                <span class="oi oi-plus" aria-hidden="true"></span> 건강일지
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="@(() => {navigationManager.NavigateTo("/board/community", forceLoad:true);})">
                <span class="oi oi-clipboard" aria-hidden="true"></span> 게시판
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" style="cursor:pointer" @onclick="@(() => {navigationManager.NavigateTo("/chart", forceLoad:true);})">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> 변화차트
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
