@page "/healthchart"

<style>
    .btns{
        display:flex;
        justify-content:flex-end;
        margin-right: 5%;
    }
    .table{
        border:solid 1px;
        border-color:lightgray;
    }
    td{
        width:100px;
        height:50px;
    }
</style>

@if (loginfo == null)
{
    <p>....Loading....</p>
}
else
{
    <h3>Healthchart</h3>
    <div style="display:flex;justify-content:flex-end;margin-right: 2%">
        <button type="button" class="btn btn-primary" @onclick=@(() => navigationManager.NavigateTo("/healthchartform/"+loginfo.Id))>등록</button>
    </div>
    <br />
    <br />
    <div class="card-group">
        @if (healthcharts[0] != null)
        {
        <div class="card-body" style="width:45%">
            <div style="width:100%;height:450px;">
                <div style="margin-bottom:5px">
                    <div style="width:99%;height:50px;border:solid 1px;position:relative;background-color:burlywood">
                        <span class="h4" style="left:5%;top:22%;position:absolute">@(healthcharts[0].Regdate.ToShortDateString()) 최근 회차</span>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">이름</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@member.Name</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">나이</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@member.Age 세</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">성별</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@member.Gender</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:14%;top:25%;position:absolute;">몸무게</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Weight kg</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:19%;top:25%;position:absolute;">키</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Height cm</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:11%;top:25%;position:absolute;">근무 형태</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Jobtype</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:14%;top:25%;position:absolute;">지방량</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Fat kg</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:14%;top:25%;position:absolute;">근육량</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Muscle kg</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:11%;top:25%;position:absolute;">체지방률</span>
                        </div>
                        <div>
                                <span style="left:60%;top:25%;position:absolute">@BodyFat((double)@healthcharts[0].Fat, (double)@healthcharts[0].Weight) %</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:1%;top:25%;position:absolute;">Total Cholesterol</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Totalcho mg/dl</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">HDL</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Hdl mg/dl</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">LDL</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Ldl mg/dl</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">BUN</span>
                        </div>
                        <div>
                                <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Bun mg/dl</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:10%;top:25%;position:absolute;">Creatinine</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Crtn mg/dl</span>
                        </div>
                    </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:2%;top:25%;position:absolute;">Glucose Fasting</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Glufa mg/dl</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:8%;top:25%;position:absolute;">Hemoglobin</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@healthcharts[0].Gluhemo %</span>
                            </div>
                        </div>
                    </div>
            </div>
            <br/>
            <br/>
            <br />
            <div class="btns">
                <button type="button" class="btn btn-warning" @onclick=@(() => navigationManager.NavigateTo("/healthchartform/"+loginfo.Id+"/"+healthcharts[0].Heno))>수정</button>
                <button type="button" class="btn btn-danger" @onclick=@(async () => {await HealthchartService.DeleteHealthchartAsync(healthcharts[0].Heno);})>삭제</button>
            </div>
        </div>
        }
        <div class="card-body" style="width:45%">
        @if (healthcharts[1] != null)
        {
            <div style="width:100%;height:450px;">
                <div style="margin-bottom:5px">
                    <div style="width:99%;height:50px;border:solid 1px;position:relative;background-color:burlywood">
                        <span class="h4" style="left:5%;top:22%;position:absolute;">@(healthcharts[1].Regdate.ToShortDateString()) 직전 회차</span>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">이름</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@member.Name</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">나이</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@member.Age 세</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">성별</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@member.Gender</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:14%;top:25%;position:absolute;">몸무게</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Weight kg</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:19%;top:25%;position:absolute;">키</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Height cm</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:11%;top:25%;position:absolute;">근무 형태</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Jobtype</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:14%;top:25%;position:absolute;">지방량</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Fat kg</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:14%;top:25%;position:absolute;">근육량</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Muscle kg</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:11%;top:25%;position:absolute;">체지방률</span>
                        </div>
                        <div>
                                <span style="left:60%;top:25%;position:absolute">@BodyFat((double)@healthcharts[1].Fat, (double)@healthcharts[1].Weight) %</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:1%;top:25%;position:absolute;">Total Cholesterol</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Totalcho mg/dl</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">HDL</span>
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Hdl mg/dl</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">LDL</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Ldl mg/dl</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:16%;top:25%;position:absolute;">BUN</span>
                        </div>
                        <div>
                                <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Bun mg/dl</span>
                        </div>
                    </div>
                    <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                        <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                            <span style="left:10%;top:25%;position:absolute;">Creatinine</span>    
                        </div>
                        <div>
                            <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Crtn mg/dl</span>
                        </div>
                    </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:2%;top:25%;position:absolute;">Glucose Fasting</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Glufa mg/dl</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:8%;top:25%;position:absolute;">Hemoglobin</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@healthcharts[1].Gluhemo %</span>
                            </div>
                        </div>
                    </div>
            </div>
            <br/>
            <br/>
            <br />
        }
        </div>
    </div>
    <hr />
    <div class="card-group">
        <div class="card-body" style="width:45%">
            @if(selectedchart != null && flag == true){
                <div style="width:100%;height:450px;">
                    <div style="margin-bottom:5px">
                        <div style="width:99%;height:50px;border:solid 1px;position:relative;background-color:burlywood">
                            <span class="h4" style="left:5%;top:22%;position:absolute">@(selectedchart.Regdate.ToShortDateString()) 최근 회차</span>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:16%;top:25%;position:absolute;">이름</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@member.Name</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:16%;top:25%;position:absolute;">나이</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@member.Age 세</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:16%;top:25%;position:absolute;">성별</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@member.Gender</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:14%;top:25%;position:absolute;">몸무게</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Weight kg</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:19%;top:25%;position:absolute;">키</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Height cm</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:11%;top:25%;position:absolute;">근무 형태</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Jobtype</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:14%;top:25%;position:absolute;">지방량</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Fat kg</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:14%;top:25%;position:absolute;">근육량</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Muscle kg</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:11%;top:25%;position:absolute;">체지방률</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@BodyFat((double)@selectedchart.Fat, (double)@selectedchart.Weight) %</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:1%;top:25%;position:absolute;">Total Cholesterol</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Totalcho mg/dl</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:16%;top:25%;position:absolute;">HDL</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Hdl mg/dl</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:16%;top:25%;position:absolute;">LDL</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Ldl mg/dl</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:16%;top:25%;position:absolute;">BUN</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Bun mg/dl</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:10%;top:25%;position:absolute;">Creatinine</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Crtn mg/dl</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:2%;top:25%;position:absolute;">Glucose Fasting</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Glufa mg/dl</span>
                            </div>
                        </div>
                        <div style="display:inline-block;width:49%;height:50px;border:solid 1px;position:relative">
                            <div style="border:solid 1px;width:45%;height:49px;background-color:burlywood">
                                <span style="left:8%;top:25%;position:absolute;">Hemoglobin</span>
                            </div>
                            <div>
                                <span style="left:60%;top:25%;position:absolute">@selectedchart.Gluhemo %</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="btns">
                    <button type="button" class="btn btn-warning" @onclick=@(() => navigationManager.NavigateTo("/healthchartform/"+loginfo.Id+"/"+selectedchart.Heno))>수정</button>
                    @*<button type="button" class="btn btn-danger" @onclick=@(async () => {await HealthchartService.DeleteHealthchartAsync(selectedchart.Heno);})>삭제</button>*@
                </div>
            }
            else
            {
                <div style="border:dashed 2px;width:100%;height:550px;position:relative">
                    <h4 style="text-align:center;left:5%;top:50%;position:absolute">옆에 리스트에서 확인하실 정보를 클릭해 주세요.</h4>
                </div>
            }
        </div>
        <div class="card-body" style="width:45%">
            <table class="table">
                <thead>
                    <tr>
                        <th>측정 날짜</th>
                        <th>몸무게</th>
                        <th>체지방률</th>
                    </tr>
                </thead>
                @if(healthcharts != null){
                    <tbody>
                        @foreach (var item in healthchartpage)
                        {
                        <tr style="cursor:pointer" @onclick="@(async () => {flag = true; selectedchart = await HealthchartService.GetHealthchartByHenoAsync(item.Heno);})">
                            <td>@item.Regdate.ToShortDateString()</td>
                            <td>@item.Weight kg</td>
                            @if(item.Fat != null && item.Weight != null){
                                <td>@BodyFat((double)@item.Fat, (double)@item.Weight) %</td>
                            }
                        </tr>
                        }
                    </tbody>
                }
            </table>
            <div>
                <Paging totalpages="totalpage" pageindex="pageindex" radius="5" OnSelectedPage="@OnSelectedPage"></Paging>
            </div>
        </div>
    </div>
}

@code {
    public Member? loginfo { get; set; }

    private List<Healthchart> healthcharts = new List<Healthchart>();
    private Member member { get; set; } = null!;
    private Healthchart? selectedchart = new Healthchart();
    private IEnumerable<Healthchart> healthchartpage = Enumerable.Empty<Healthchart>();

    private bool flag = false;

    //pagination
    private int itemsperpage = 7;
    private int totalpage = 1;
    private int pageindex = 1;

    protected override async Task OnInitializedAsync()
    {
        loginfo = await sessionStorage.GetItemAsync<Member>("loginfo");
        await Task.Delay(100);
        if (loginfo != null)
        {
            member = await MemberService.GetMemberByIdAsync(loginfo.Id);
            await Task.Delay(100);
            healthcharts = await HealthchartService.GetAllHealthchartByIdAsync(loginfo.Id);
            await Task.Delay(100);
        }

        if(healthcharts != null){
            totalpage = healthcharts.Count() / itemsperpage;
            if (healthcharts.Count() % itemsperpage > 0)
            {
                totalpage++;
            }

            var skipData = itemsperpage * (pageindex - 1);
            healthchartpage = healthcharts.Skip(skipData).Take(itemsperpage);
        }
    }

    private string BodyFat(double fat, double weight){
        var bodyfat = (fat / weight * 100);
        string result = string.Empty;
        if(bodyfat.ToString().Contains(".")){
            result = bodyfat.ToString().Split('.')[0] + "." + bodyfat.ToString().Split('.')[1].Substring(0, 2);
        }
        else
        {
            result = bodyfat.ToString();
        }
        return result;
    }

    private void OnSelectedPage(int seletedpage){
        pageindex = seletedpage;
        var skipData = itemsperpage * (pageindex - 1);
        healthchartpage = healthcharts.Skip(skipData).Take(itemsperpage);
    }
}
